body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(255, 255, 255);
}
.header.div{
    background: rgb(255, 133, 133);
    color: rgb(255, 80, 80);
}
.header_div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(255, 60, 60);
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;
}
.main_div button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: hsl(0, 0%, 36%);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(255, 127, 127);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(141, 141, 141);
    

}
